<div class="container mt-5">
  <div class="row">
    <h2 class="mb-4 pl-3">Overview</h2>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm h-md-250">
        <div class="card-header">
          <h5 class="card-title">Card Title<br /></h5>
        </div>
        <div class="card-body d-flex flex-column align-items-start">
          <div id="donutcontainer" class="svg-container"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm h-md-250">
        <div class="card-header">
          <h5 class="card-title">Card Title<br /></h5>
        </div>
        <div class="card-body d-flex flex-column align-items-start">
          <div id="barcontainer" class="svg-container"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="mb-4 pl-3">User List</h2>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>User Name</th>
            </tr>
          </thead>
          <tbody>
            <tr   *ngFor="let user of tableUsers; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.username }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
