<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Sign in to your dashboard</div>
        <div class="card-body">
          <form [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                formControlName="username"
                placeholder="Enter email"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Password"
              />
            </div>
            <button type="submit" class="btn btn-block btn-primary">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" style="visibility:hidden"id="loading-container">
  <div class="spinner-border" role="status" >
    <span class="sr-only" id="loading"></span>
  </div>
</div>